html {background-color:black}

a {color:white; font-size:xx-large; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
text-align:center;}

#title { color:white;font-size: 100px;
font-family:'Trebuchet MS', sans-serif;}


h1 {background-color:#d43147;}